@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.form{
    background-image: url("../../img/b.png");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.box 
{
    position: relative;
    width: 420px;
    height: 500px;
    border-radius: 15px;
    backdrop-filter: blur(4px);
    border: #DCDCDC 2px solid;
}
.box form 
{
    position: absolute;
    inset: 4px;
    padding: 50px 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.box form h2{
    font-size: 180%;
    color: white;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .input{
    position: relative;
    width: 300px;
    margin-top: 20px;
}
.box form .inputBox .input-span 
{
    position: absolute;
    color: #DCDCDC;
    font-size: 1em;
    transition: 0.5s;
    transform: translateY(-34px);
}
.box form .inputBox input:focus ~ .input-span
{
    color: white;
    font-size: 1.2em;
}
.box form .inputBox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
}
.box form .forgot
{
    display: flex;
}

.inputBox .ion-icon
{
    position: absolute;
    top: 24px;
    right: 2px;
    color: white;
    font-size: 1.1em;
}
.box form button:active
{
    opacity: 0.8;
}
